body {
    font-family: 'Righteous';
    background: #E5E5E5;
}

/* Começo do meu topbar */

.topbar {
    height: 92px;
    background-color: #CF2B2B;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}

.topbar .brand {
    margin-left: 21px;
    display: flex;
    flex-direction: column;
}

.topbar .brand a:nth-child(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.topbar .brand a:nth-child(2) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

/* Corpo do meu projeto */

.general{
    display: flex;
}

.fotolayout{
    background-color: #32B72F;
    width: 100%;
    display: block;
    padding-top: 92px;
}

.fotolayout .fotopc{
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .fotolayout{
        display: none;
    }
    .general{
        display: block;
    }
}

.general .corpo {
    padding-top: 92px;
    padding-bottom: 100px;
    height: 100%;
}

.corpo .aba {
    margin-top: 18px;
    width: 100%;
    overflow-x: auto;
    /*Tamanho de 590px*/
}

.corpo .aba .nome {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-left: 19px;
    margin-bottom: 12px;
}

/*Opcoes de pedido*/

.corpo .aba .containeropcao {
    display: flex;
    width: 590px;
}

.corpo .aba .containeropcao .opcao {
    width: 172px;
    height: 216px;
    border-radius: 9px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-left: 19px;
    display: flex;
    flex-direction: column;
}

.corpo .aba .containeropcao .opcao .foto {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 10px auto;
}

.corpo .aba .containeropcao .opcao p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin: 6px 15px;
}

.corpo .aba .containeropcao .opcao a {
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-bottom: 8px;
}

.corpo .aba .containeropcao .opcao h1 {
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/* PARTE INFERIOR */

.bottombar {
    height: 92px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.bottombar .finalize {
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    display: flex;
}

.bottombar .finalize a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin: auto 70px;
}

.bottombar .closeorder {
    width: 364px;
    height: 61px;
    background: #32B72F;
    border-radius: 50px;
    display: none;
}

.bottombar .closeorder a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    margin: auto auto;
}

/* CONFIRME O SEU PEDIDO */

.translucent {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmorder {
    width: 377px;
    height: 353px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}